<h1>@Model["store"].GetStore_name() Brands</h1>

<form action = '/new_brand/@Model["store"].GetId()' method = "post">
<input name = "newBrand"></input>
<button>Add Brand</button>
</form>

<form action = '/old_brand/@Model["store"].GetId()' method = "post">
<select name = "oldBrand">
  @foreach(var brand in @Model["allBrands"])
  {
  <option>@brand.GetTitle()</option>
  })

</select>
<button>Select From Existing Brands To Add</button>
</form>

@foreach(var brand in @Model["brands"])
{
<li>@brand.GetTitle()</h1>
}

</br>

<a href = "/">Home</a>
